.profile-main-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-container img {
  width: 120px;
}

#profile-container div {
  color: white;
}

#activity-stats-container {
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 20px;
}

#activity-stats-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.profile-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#activity-stats-tracker {
  display: flex;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.day {
  --color-activity-nofill: #535c68;
  --color-activity-fill: #686de0;
}

#activity-svg {
  display: block;
  margin: auto;
}

#tab-container {
  margin-top: 50px;
}

.active {
  color: white;
}

.tab-content {
  color: white;
  margin-top: 10px;
}

.iseditable {
  padding: 10px;
  border-radius: 3px;
  background-color: #535c68;
}

#save-profile-button {
  display: none;
}

.tab-content .active {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.tab-content-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-content-container {
  margin-bottom: 10px;
  padding: 10px 20px 0 20px;
  background-color: #3c3741;
}

#myTabContent {
  display: flex;
  justify-content: center;
}

.tab-content-review-content {
  margin-top: -10px;
}
