.body {
  background-color: #23272a;
}
#mainNav {
  position: absolute;

  z-index: 10;
  background: rgba(255, 255, 255, 0);
  width: 100%;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav li {
  margin-left: 1em;
  margin-right: 1em;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(35, 39, 42, 0.8) 0%, rgba(35, 39, 42, 0.8) 100%), url("/static/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 70vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1rem;
  }
  header.masthead h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h2 {
    font-size: 3rem;
  }
  header.masthead {
    height: 70vh;
  }
}
.movie-card {
  background-color: transparent;
  margin-right: 10px;
  width: 15rem;
}

header.masthead-show {
  height: 20vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
}

.btn-primary {
  color: #fff;
  padding: 2rem, 0.5rem, 2rem, 0.5rem;
  background-color: #7289da;
  border-color: #7289da;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5b6dae;
  border-color: #5b6dae;
}

.page-section {
  background-color: #2c2f33;
  padding: 8rem 0;
  min-height: 100vh;
}

/* MOVIENAME.HTML STYLES */
.movie-content {
  display: flex;
  flex-direction: row;
}

.movie-title h1 {
  font-size: 40px;
  font-weight: bolder;
}

#movie-year {
  font-weight: 300;
}

#movie-details-container {
  display: flex;
  flex-direction: row;
  margin-left: -35px;
}

#movie-details-container li {
  padding-right: 25px;
}

#movie-details-container li:first-child {
  list-style-type: none;
}

#movie-status-container {
  display: flex;
  flex-direction: row;
  margin-left: -35px;
  align-items: center;
}

#movie-status-container li {
  list-style-type: none;
  margin-right: 20px;
}

#details_container {
  margin-left: 35px;
  color: white;
}

.overview-container h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 35px;
}

.flash {
  position: absolute;
  z-index: 10;
  width: 98%;
  margin-left: 15px;
  margin-top: 80px;
}

#flash-info {
  background: #2c2f33;
  border-color: #2c2f33;
  color: #ffffff;
}

#flash-err {
  background: #f5c6cb;
  border-color: #f5c6cb;
  color: red;
}

.movie-name-image {
  margin-top: 10px;
}

.modal-title {
  color: black;
  font-weight: bolder;
}

.form-group {
  color: black;
}

.width_seventy-five {
  width: 75%;
  min-width: 240px;
}

.width_twenty-five {
  width: 25%;
  min-width: 80px;
}
.width_one-hundred {
  width: 100%;
}

#container-search {
  padding-left: 30px;
}

#form-search {
  display: inline;
}

input {
  padding: 8px;
  margin: 4px;
}

.text-white {
  color: white;
}

.register_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 66vh;
}

#form_inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
}

#form_inputs div {
  margin-top: 20px;
}

.reg-btn {
  margin-top: 40px;
}

#login-form {
  margin-top: 20px;
}

#btn-login {
  width: 130px;
  height: 43px;
}

.card-img-top {
  height: 350px;
}

.movie-card-wishlist {
  margin: 5px;
}

#reviews_container {
  color: white;
  margin-top: 55px;
}

.card-review {
  background-color: #3c3741;
  margin-top: 5px;
  width: 100%;
}

.card-deck-search {
  max-width: 330px;
  min-width: 200px;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
}

.card-search {
  background-color: #3c3741;
}

#btn-search {
  height: 45px;
}

.card-body-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: -100px;
}

.card-text {
  width: 95%;
}
