.body {
  background-color: #23272a;
}
#mainNav {
  position: absolute;

  z-index: 10;
  background: rgba(255, 255, 255, 0);
  width: 100%;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav li {
  margin-left: 1em;
  margin-right: 1em;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      rgba(35, 39, 42, 0.8) 0%,
      rgba(35, 39, 42, 0.8) 100%
    ),
    url("/static/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 70vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1rem;
  }
  header.masthead h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h2 {
    font-size: 3rem;
  }
  header.masthead {
    height: 70vh;
  }
}
.card {
  background-color: transparent;
  margin-right: 10px;
  width: 15rem;
}
header.masthead-show {
  height: 20vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
}
.btn-primary {
  color: #fff;
  padding: 2rem, 0.5rem, 2rem, 0.5rem;
  background-color: #7289da;
  border-color: #7289da;
}
.btn-primary:hover {
  color: #fff;
  background-color: #5b6dae;
  border-color: #5b6dae;
}
.page-section {
  background-color: #2c2f33;
  padding: 8rem 0;
}

/* MOVIENAME.HTML STYLES */
.movie-content {
  display: flex;
  flex-direction: row;
}

.movie-title h1 {
  font-size: 40px;
  font-weight: bolder;
}

#movie-year {
  font-weight: 300;
}

#movie-details-container {
  display: flex;
  flex-direction: row;
  margin-left: -35px;
}

#movie-details-container li {
  padding-right: 25px;
}

#movie-details-container li:first-child {
  list-style-type: none;
}

#movie-status-container {
  display: flex;
  flex-direction: row;
  margin-left: -35px;
  align-items: center;
}

#movie-status-container li {
  list-style-type: none;
  margin-right: 20px;
}

#details_container {
  margin-left: 35px;
  color: white;
}

.overview-container h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 35px;
}

.movie-name-image {
  margin-top: 10px;
}
