{% extends 'authenticated/auth_base.html' %} {% block head %} {% endblock %} {%
block content %}

<!-- Now Showing -->
<section class="page-section" id="about">
  <div class="container movie-content">
    {% for movie in movie_details %}
    <div class="justify-content-left movie-name-image">
      <img src={{ movie['poster_path'] }} alt="" />
    </div>

    <div id="details_container">
      <div class="movie-title">
        <h1>
          {{ movie["title"] }}
          <span id="movie-year">({{ movie["release_date"].year }})</span>
        </h1>
        <ul id="movie-details-container">
          <li>{{ movie["release_date"].date() }} ({{ movie["country"] }})</li>
          <li>{{ movie["genre"] }}</li>
          <li>{{ movie["run_time"] }} mins</li>
        </ul>
        <ul id="movie-status-container">
          <li>⭐ {{ movie["ratings"] }} / 5</li>
          <li>
            <button type="button" class="btn btn-primary">
              ❤️ Add to Wishlist
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary">⭐ Rate Movie</button>
          </li>
        </ul>
      </div>

      <div class="overview-container">
        <h2>Overview</h2>
        <p>{{ movie["plot"] }}</p>
      </div>

      <div class="overview-container">
        <h2>Writers</h2>
        <p>{{ movie["writers"] }}</p>
      </div>

      <div class="overview-container">
        <h2>Casts</h2>
        <p>{{ movie["casts"] }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
