{% extends 'base.html' %} {% block head %} {% endblock %} {% block content %}

<!-- Now Showing -->
<section class="page-section" id="movie_name">
  <div class="container movie-content">
    {% for movie in movie_details %}
    <div class="justify-content-left movie-name-image"><img src={{ movie['poster_path'] }} alt="" /></div>

    <div id="details_container">
      <div class="movie-title">
        <h1>
          {{ movie["title"] }}
          <span id="movie-year">({{ movie["release_date"].year }})</span>
        </h1>
        <ul id="movie-details-container">
          <li>{{ movie["release_date"].date() }} ({{ movie["country"] }})</li>
          <li>{{ movie["genre"] }}</li>
          <li>{{ movie["run_time"] }} mins</li>
        </ul>
        <ul id="movie-status-container">
          <li>⭐ {{ movie["ratings"] }} / 5.0</li>
          <li>
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom">❤️ Add to Wishlist</button>
          </li>
          <li>
            <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom">⭐ Rate Movie</button>
          </li>
        </ul>
      </div>

      <div class="overview-container">
        <h2>Overview</h2>
        <p>{{ movie["plot"] }}</p>
      </div>

      <div class="overview-container">
        <h2>Writers</h2>
        <p>{{ movie["writers"] }}</p>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="container" id="reviews_container">
    <h2>Reviews</h2>

    {% for review in reviews %}

    <div class="card-review">
      <div class="card-body card-body-cont">
        <p class="card-text"><strong>{{ review[0] }}:</strong> {{ review[1] }}</p>
        <p>{{ review[2] }}</p>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
      html: true,
      content: function () {
        return 'Please <a href="/login">login</a> or <a href="/register">register</a> to continue';
      },
    });
  });
</script>

{% endblock %}
