{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}" />
<script src="{{ url_for('static', filename = 'scripts/activity.js') }}"></script>
{% endblock %} {% block content %}

<!-- Now Showing -->
<section class="page-section" id="movie_name">
  <div class="container profile-main-container">
    <div id="profile-container">
      <img src="{{ url_for('static', filename='assets/man.svg') }}" alt="profile-pic" />
      <div class="profile-name">
        <h1>{{ username }}</h1>

        <div id="profile-editable">
          <p>{{ description }}</p>
        </div>

        <button type="button" class="btn btn-primary" id="save-profile-button">Save</button>
      </div>
    </div>

    <div id="activity-stats-container">
      <p id="activity-stats-title">{{ activity[1][0][0] }} activities this year</p>

      <div id="activity-stats-tracker">
        <svg width="1000" height="110" id="activity-svg"></svg>
      </div>
    </div>

    <div id="tab-container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Movie wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active tab-content" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <p>Added Dreamkatcher to Movie Wishlist</p>
          <p>12 hours ago</p>
        </div>

        <!-- MOVIE WISHLIST TAB -->
        <div class="tab-pane fade tab-content" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          {% for review in wishlist_activity %}
          <div class="tab-content-container">
            <div>
              <p>Added {{ review[1] }} in movie wishlist</p>
              <p>{{ review[0] }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- REVIEW TAB -->
        <div class="tab-pane fade tab-content" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          {% for review in activity[2] %}
          <div class="tab-content-container">
            <div>
              <p>Added a review to {{ review[2] }}</p>
              <p>{{ review[1] }}</p>
            </div>

            <p class="tab-content-review-content">{{ review[0] }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  const user_activity = {{ activity[0] | tojson }};
  getActivityDate(user_activity);
</script>

{% endblock %}
